{% extends 'page_base.html' %}
{% load bootstrap4 %}

{% block main_content %}
  <div class="container">
    <h1>Quiz</h1>


    {% if user.user_type == 2 and user == quiz.course.teacher %}
        <form method="POST" action="{% url 'quizzes:update' pk=quiz.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {{ form.name.errors }}
            <input type="submit" value="Submit" class="btn btn-secondary btn-lg">
        </form>
    {% else %}
        <div class="jumbotron">
            <h2>You cannot update quiz</h2>
        </div>
    {% endif %}

</div>


{% endblock %}
