{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
        {% block title %}
            
        {% endblock title %}
        
    </title>
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Raleway&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/master.css' %}" />

    <style>
        body {
            background-image: url("{% static 'images/baseback.png' %}");
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: center; 
        }
        .course-item {
            margin-bottom: 30px;
        }

        .course-item a {
            margin-left: 30px;
        }
    </style>    
</head>
<body>
    <div class="sidenav">
        <div class="side-items">
        <span class="sidemenu side-element"><i class="fa fa-user-circle fa-5x" id="profile"></i></span>
        
        {% if user.is_authenticated %}
            <a href="{% url 'profile' pk=user.pk %}" class="sidemenu side-element">{{user}}</a>
            <a href="{% url 'home' %}"><i class="fa fa-home"></i>Home</a>
            <a href="{% url 'courses:list' %}"><i class="fa fa-list-ul"></i>All Courses</a>
            
            {% if user.user_type == 1 %}
                <span class="sidemenu"><h5 id="side-head"><i class="fa fa-th-large courses-icon"></i>Your Courses</h5></span>
                {% for course in list_courses %}
                    
                    {% if user in course.students.all %}
                        <span class="course-item"><a href="{% url 'courses:detail' pk=course.pk %}" >{{course}}</a></span>
                    {% endif %}
                        
                {% endfor %}
            {% else %}
                <a href="{% url 'courses:create' %}"><i class="fa fa-plus-circle" style="font-size: 20px;"></i>Create Course</a>
                <a href="{% url 'lectures:create' %}"><i class="fa fa-plus-circle" style="font-size: 20px;"></i>Create Lecture</a>
                <a href="{% url 'assignments:create' %}"><i class="fa fa-plus-circle" style="font-size: 20px;"></i>Create Assignment</a>
                <a href="{% url 'quizzes:create' %}"><i class="fa fa-plus-circle" style="font-size: 20px;"></i>Create Quiz</a>
                <a href="{% url 'resources:create' %}"><i class="fa fa-plus-circle" style="font-size: 20px;"></i>Create Resource</a>                
                <div class="sidemenu"><h5 id="side-head"><i class="fa fa-th-large courses-icon"></i>Your Courses</h5></div>
                {% for course in list_courses %}
                    
                    {% if user.id == course.teacher.id %}
                        <span class="course-item"><a href="{% url 'courses:detail' pk=course.pk %}" >{{course}}</a></span>
                    {% endif %}
                        
                {% endfor %}                 
            {% endif %}
            <form method="POST" action="{% url 'users:logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="logout-button">
                    <i class="fa fa-sign-out"></i><span>Logout</span>
                </button>
            </form>
            <a href="{% url 'contact' %}"><i class="fa fa-phone"></i>Contact</a>
            <a href="{% url 'about' %}"><i class="fa fa-tag"></i>About</a>
        {% else %}
            <a class="sidemenu side-element">Guest</a>
            <a href="{% url 'home' %}"><i class="fa fa-home"></i>Home</a>
            <a href="{% url 'users:login' %}"><i class="fa fa-sign-in"></i>Login</a>
            <a href="{% url 'users:signup' %}"><i class="fa fa-user-plus"></i>Signup</a>
            <a href="{% url 'courses:list' %}"><i class="fa fa-list-ul"></i>All Courses</a>
            <a href="{% url 'contact' %}"><i class="fa fa-phone"></i>Contact</a>
            <a href="{% url 'about' %}"><i class="fa fa-tag"></i>About</a>

        {% endif %}
        </div>
            
    </div>

    
        
    <div class="content">
        {% block body_content %}

            
        {% endblock body_content %}
    </div> 
</body>
</html>