{% extends 'base.html' %}

{% block title %}
    
    {% block title_name %}
        
    {% endblock title_name %}
        
{% endblock title %}
    
{% block body_content %}
    <div class="container">
        <br>
        <br>
        <br>
        <div class="ml-5"> 
            <h4>Contact us</h4>
            <h4>Our team</h4>
            <h4>Windsor, Canada</h4>
            <h4><a href="mailto:projecttest@abc.com">Email: projecttest@abc.com</a></h4>
            <h4>Our Location</h4>
            <br>
            <div class="mt-2"> 
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d79400.9818319455!2d-82.98063785183861!3d42.30505787181649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1730128449767!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
{% endblock body_content %}
